CONNECTION_STRING="Server=localhost,1433;Database=SmartReserveDb;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True;Encrypt=False;"
DATABASE_URL="sqlserver://localhost:1433;database=SmartReserveDb;user=sa;password=CHANGE_ME;trustServerCertificate=true;encrypt=false"
SUPERADMIN_EMAIL="superadmin@smartreserve.com"
SUPERADMIN_PASSWORD_HASH="AQAAAAIAAYagAAAAEJO6KdCQDaMS8Oty+LTfd9Qr/JkqRlnXdyV+6uSjYxdhPs6ivjb5d/dXNSFxPrdE1A=="
