CONNECTION_STRING="Server=localhost,1433;Database=SmartReserveDb;User Id=sa;Password=CHANGE_ME;TrustServerCertificate=True;Encrypt=False;"
SUPERADMIN_EMAIL="superadmin@smartreserve.com"
SUPERADMIN_PASSWORD_HASH="AQAAAAIAAYagAAAAEJO6KdCQDaMS8Oty+LTfd9Qr/JkqRlnXdyV+6uSjYxdhPs6ivjb5d/dXNSFxPrdE1A=="
